fc
profile
testrun
*~
profiler/profiler
*.o
*.d
*.bak
core
logs
.project
.project.ori
.cproject
*.kdev4
.geany
*.swo
*.swp
*.project
miml.mk
Miml.mk
fcfmain.c
fcfmain.h
refman.pdf
.pydevproject
gmon.*
*.pyc

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

